html {
  font-size: 12px;
}
@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}

.container {
  max-width: 1400px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.text-align-right{text-align:right}
.table-label {height:22px;line-height:22px;text-align:right;padding:0;vertical-align:middle;float:right}
.table-text {height:22px;line-height:22px;text-align:right;padding:0;vertical-align:middle}
.table-input {height:22px;line-height:22px;text-align:right}

.table-text-left {height:22px;line-height:22px;padding:0;vertical-align:middle}
.table-div-row{padding-left:18px;padding-right:18px}

.loadingModal{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);

}

.product_table tr{
    margin:10px;
    back
    padding-left:10px;
    padding-right:10px;
}

.product_table td{
    padding-left:10px;
    padding-right:10px;
}

.product_table tr td div{
   text-align:center
}

.product_table tr td div img{
   width:100px;
}