<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Amazon">
    <title>电商助手</title>

    <!-- Bootstrap core CSS -->
<!--    <link href="./assets/dist/css/bootstrap.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="./css/style.css" rel="stylesheet">
  </head>
  <body>

  <div class="contentDiv"  id="mainDiv">

    <!-- Modal  start -->
    <div class="modal fade loadingModal"  id="progressBar" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"  aria-hidden="true">
      <div class="modal-dialog" style="width:300px">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="height:100px">
            商品信息加载中......
          </div>
        </div>
      </div>
    </div>


    <div class="modal modal-dialog-scrollable fade loadingModal" style="width:1500px;height:800px" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog"  style="width:1300px;height:750px">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">选择您的商品</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" >


            <table border="0" class="product_table" style="height:600px"  >

              <tr v-if="product_list.length ==10">
                <td v-for="(product , i ) in  product_list" v-if="i < 5">
                  <div >
                    <div ><img  v-bind:src="product.thumbStringUrl"> </div>
                    <div ><small v-text="product.title" ></small></div>
                    <div v-if="product.display"><button type="button" class="btn btn-default btn-xs" v-on:click="show_left_content">选择</button></div>
                  </div>
                </td>
              </tr>


              <tr >
                <td v-for="(product , i ) in  product_list" v-if="i >= 5">
                  <div >
                    <div ><img  v-bind:src="product.thumbStringUrl"></div>
                    <div ><small v-text="product.title" ></small></div>
                    <div v-if="product.display"><button type="button" class="btn btn-default btn-xs" v-on:click="show_left_content">选择</button></div>
                  </div>
                </td>
              </tr>



              <tr v-if="product_list.length !=10"></tr>
              <tr v-if="product_list.length !=10"></tr>


            </table>

          </div>
        </div>
      </div>
    </div>
    <!-- Modal  end -->



    <div class="row "  style="margin-right:20px;margin-left:5px"  >
      <div class="col-sm-2" ><img style="width:200px;height:60px" src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=48636859,3759177675&fm=26&gp=0.jpg" /></div>
      <div class="col-sm-8  ">  &nbsp; </div>
      <div class="col-sm-2 table-text " ><a class="btn btn-outline-primary" href="#">登录</a> </div>

    </div>





    <div  style="margin-left:30px;margin-right:30px;margin-top:0px">

    <div style="margin-bottom:20px">
      <h2 style="color:#BF6B27">亚马逊收入计算器</h2>

      <span>提供您的履行成本，并查看您的履行与我们在Amazon.ca上为客户订单提供的服务之间的实时成本比较</span>

      <div>
        <small><b>免责声明</b> 此亚马逊收入计算器的实现应仅用作评估亚马逊物流的指南。Amazon不保证此收入计算器中信息或计算的准确性。应对此收入计算器的输出进行独立分析，以验证结果。请查阅《亚马逊服务业务解决方案协议》以获取最新费用。新亚马逊配送选项反映您当前的亚马逊销售费用和亚马逊物流配送费用。</small>
      </div>
    </div>

    <div  id="search_div"  style="border:1px solid #B7BFDA;background:#F2F9FB;padding-top:15px;padding-left:10px;padding-bottom:35px">
      <div >
        <h5 style="color:#BF6B27;padding-left:20px"> 在Amazon.com上找到您的产品 </h5>
        <form class="form-inline">

          <div class="form-group mx-sm-3 mb-2" style="width:450px">
            <input type="text" class="form-control" id="inputPassword2" style="width:450px" placeholder="产品名称">
          </div>
          <button type="button" class="btn btn-primary mb-2"   v-on:click="start_search" >搜索</button>
        </form>
      </div>
    </div>


      <div  id="product_content" style="border:1px solid #B7BFDA;margin-top:15px;height:180px;display: none;">
        <div >
          <div  style="width:130px;float:left;padding:3px;text-align:center">
              <div ><img style="width:100px;height:100px" src="https://m.media-amazon.com/images/I/41TcQSxOraL._SL120_SL80_.jpg"></div>
              <div  style="margin-top:10px"><a href=""><small>查看产品详情</small>  </a></div>
              <div style="margin-top:10px"><button type="button"  class="btn btn-default btn-xs" v-on:click="init_search_inner">尝试其它商品</button></div>
          </div>
          <div   style="overflow:hidden;">
            <h5>PARKER Im Rollerball Pen, Black Lacquer Gold Trim with Fine Point Black Ink Refill</h5>
            <div><span><b>ASIN:</b> </span>  <span>B01LYDD533</span></div>
            <div><span><b>产品尺寸</b> </span>  <span>2.54 X 5.08 X 17.272 centimetres</span></div>
            <div><span><b>单位重量:</b> </span>  <span>0.077 公斤</span> </div>

          </div>
        </div>
      </div>




     <div style="border:1px solid #B7BFDA;margin-top:20px;background:#F3F3F3">

           <div style="height:850px">
                <!-- left  content ----------->
                <div id="left_content" style="width:600px;float:left;padding:8px;visibility: hidden;">

                  <table >
                    <thead>
                    <tr>
                      <th scope="col" style="width:40%"></th>
                      <th scope="col" style="width:30%;text-align:right">自己配送</th>
                      <th scope="col" style="width:30%;text-align:right">Amazon配送</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr style="height:40px">
                      <td >
                        <div class="form-group row table-div-row"  >
                          <div class="table-text-left" ><b >收入</b>  </div>
                        </div>
                      </td>
                      <td></td>
                      <td></td>
                    </tr>

                    <tr >
                      <td  >
                        <div class="form-group row table-div-row"   >
                          <label  class="col-sm-3 col-form-label table-text" ></label>
                          <div class="col-sm-9 col-form-label table-label"><span>商品价格</span> <span class="glyphicon glyphicon-question-sign"></span></div>
                        </div>
                      <td>
                        <div class="form-group row table-div-row"  >
                          <span  class="col-sm-3 col-form-label table-text" >$</span>
                          <div class="col-sm-9" style="padding:0"><input type="number" class="form-control table-input" ></div>
                        </div>
                      </td>

                      <td>
                        <div class="form-group row table-div-row">
                          <span  class="col-sm-3 col-form-label table-text" >$</span>
                          <div class="col-sm-9" style="padding:0"><input type="number"  class="form-control table-input"
                                                                         v-model="amazon_fulfilment_item.item_price"></div>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td >
                        <div class="form-group row table-div-row"   >
                          <label  class="col-sm-3 col-form-label table-text" ></label>
                          <div class="col-sm-9 table-label"><span>运输</span> <span class="glyphicon glyphicon-question-sign"></span></div>
                        </div>

                      <td>
                        <div class="form-group row table-div-row">
                          <span  class="col-sm-3 col-form-label table-text" >$</span>
                          <div class="col-sm-9" style="padding:0"><input type="number" class="form-control table-input" ></div>
                        </div>
                      </td>

                      <td>
                        <div class="form-group row table-div-row"  >
                          <span  class="col-sm-3 col-form-label table-text" >$</span>
                          <span class="col-sm-6" style="padding:0">&nbsp;</span>
                          <span class="col-sm-3 table-text" id="amazon_shipping" > </span>
                        </div>
                      </td>
                    </tr>


                    <tr>
                      <td >
                        <div class="form-group row table-div-row"   >
                          <label  class="col-sm-3 col-form-label table-text" ></label>
                          <div class="col-sm-9 table-label"><span>总收入</span> <span class="glyphicon glyphicon-question-sign"></span></div>
                        </div>
                      <td>
                      <div class="form-group row table-div-row"  >
                        <span  class="col-sm-3 col-form-label table-text" >$</span>
                        <span class="col-sm-6" style="padding:0">&nbsp;</span>
                        <span class="col-sm-3 table-text"  >1.00</span>
                      </div>
                      </td>

                      <td>
                        <div class="form-group row table-div-row"  >
                          <span  class="col-sm-3 col-form-label table-text" >$</span>
                          <span class="col-sm-6" style="padding:0">&nbsp;</span>
                          <span class="col-sm-3 table-text" id="amazon_total_revenue" > </span>
                        </div>
                      </td>
                    </tr>


                    <tr>
                      <td >
                        <div class="form-group row table-div-row"  >
                          <div class="table-text-left" ><b >出售亚马逊费用</b> <span class="glyphicon glyphicon-question-sign"></span></div>
                        </div>
                      <td>
                        <div class="form-group row table-div-row"  >
                          <span  class="col-sm-3 col-form-label table-text" >$</span>
                          <span class="col-sm-6" style="padding:0">&nbsp;</span>
                          <span class="col-sm-3 table-text" >1.00</span>
                        </div>
                      </td>

                      <td>
                        <div class="form-group row table-div-row"  >
                          <span  class="col-sm-3 col-form-label table-text" >$</span>
                          <span class="col-sm-6" style="padding:0">&nbsp;</span>
                          <span class="col-sm-3 table-text" id="amazon_selling_on_amazon_fees" ></span>
                        </div>
                      </td>
                    </tr>

                    <tr >
                      <td >
                        <div class="form-group row table-div-row"  >
                          <div class="table-text-left" ><b >履行费用</b> </div>
                        </div>
                      </td>
                      <td></td>
                      <td></td>
                    </tr>


                    <tr>
                      <td >
                        <div class="form-group row table-div-row"   >
                          <label  class="col-sm-3 col-form-label table-text" ></label>
                          <div class="col-sm-9 table-label"><span>卖方履行成本</span> <span class="glyphicon glyphicon-question-sign"></span></div>
                        </div>

                      <td>
                        <div class="form-group row table-div-row">
                          <span  class="col-sm-3 col-form-label table-text" >$</span>
                          <div class="col-sm-9" style="padding:0"><input type="number" class="form-control table-input" ></div>
                        </div>
                      </td>

                      <td>
                        <div class="form-group row table-div-row"  >
                          <span  class="col-sm-3 col-form-label table-text" ></span>
                          <span class="col-sm-3" style="padding:0"></span>
                          <span class="col-sm-6 table-text" >不适用</span>
                        </div>
                      </td>
                    </tr>


                    <tr>
                      <td >
                        <div class="form-group row table-div-row"   >
                          <label  class="col-sm-3 col-form-label table-text" ></label>
                          <div class="col-sm-9 table-label"><span>亚马逊配送费用</span> <span class="glyphicon glyphicon-question-sign"></span></div>
                        </div>

                      <td>
                        <div class="form-group row table-div-row">
                          <span  class="col-sm-3 col-form-label table-text" ></span>
                          <div class="col-sm-3" style="padding:0"></div>
                          <span class="col-sm-6 table-text" >不适用</span>
                        </div>
                      </td>

                      <td>
                        <div class="form-group row table-div-row"  >
                          <span  class="col-sm-3 col-form-label table-text" ></span>
                          <span class="col-sm-3" style="padding:0"></span>
                          <span class="col-sm-6 table-text" id="amazon_fulfillment_by_amazon_fees" ></span>
                        </div>
                      </td>
                    </tr>


                    <tr>
                      <td >
                        <div class="form-group row table-div-row"   >
                          <label  class="col-sm-3 col-form-label table-text" ></label>
                          <div class="col-sm-9 table-label"><span>运送到亚马逊</span> <span class="glyphicon glyphicon-question-sign"></span></div>
                        </div>

                      <td>
                        <div class="form-group row table-div-row">
                          <span  class="col-sm-3 col-form-label table-text" ></span>
                          <div class="col-sm-3" style="padding:0"></div>
                          <span class="col-sm-6 table-text" >不适用</span>
                        </div>
                      </td>

                      <td>
                        <div class="form-group row table-div-row">
                          <span  class="col-sm-3 col-form-label table-text" >$</span>
                          <div class="col-sm-9" style="padding:0"><input type="number" class="form-control table-input"
                                                                         v-model="amazon_fulfilment_item.deliver_to_amazon">
                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr>
                      <td >
                        <div class="form-group row table-div-row"   >
                          <label  class="col-sm-3 col-form-label table-text" ></label>
                          <div class="col-sm-9 table-label"><span>总成本</span> <span class="glyphicon glyphicon-question-sign"></span></div>
                        </div>

                      <td>
                      <div class="form-group row table-div-row"  >
                        <span  class="col-sm-3 col-form-label table-text" ></span>
                        <span class="col-sm-3" style="padding:0"></span>
                        <span class="col-sm-6 table-text" ></span>
                      </div>
                      </td>

                      <td>
                        <div class="form-group row table-div-row"  >
                          <span  class="col-sm-3 col-form-label table-text" ></span>
                          <span class="col-sm-3" style="padding:0"></span>
                          <span class="col-sm-6 table-text" ></span>
                        </div>
                      </td>
                    </tr>


                    <tr>
                      <td >
                        <div class="form-group row table-div-row"  >
                          <div class="table-text-left" ><b >储存费用</b> </div>
                        </div>
                      </td>
                      <td></td>
                      <td></td>
                    </tr>




                    <tr>
                      <td >
                        <div class="form-group row table-div-row"   >
                          <label  class="col-sm-3 col-form-label table-text" ></label>
                          <div class="col-sm-9 table-label"><span>每月单位储存成本</span> <span class="glyphicon glyphicon-question-sign"></span></div>
                        </div>
                      <td>
                        <div class="form-group row table-div-row"  >
                          <span  class="col-sm-3 col-form-label table-text" >$</span>
                          <div class="col-sm-9" style="padding:0"><input type="number" class="form-control table-input" ></div>
                        </div>
                      </td>

                      <td>
                        <div class="form-group row table-div-row">
                          <span  class="col-sm-3 col-form-label table-text" >$</span>
                          <div class="col-sm-9 table-text" style="padding:0"> <span id="amazon_monthly_storage_cost_per_unit"></span> </div>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td >
                        <div class="form-group row table-div-row"   >
                          <label  class="col-sm-3 col-form-label table-text" ></label>
                          <div class="col-sm-9 table-label"><span>平均库存单位</span> <span class="glyphicon glyphicon-question-sign"></span></div>
                        </div>
                      <td>
                        <div class="form-group row table-div-row"  >
                          <span  class="col-sm-3 col-form-label table-text" >$</span>
                          <div class="col-sm-9" style="padding:0"><input type="number" class="form-control table-input" ></div>
                        </div>
                      </td>

                      <td>
                        <div class="form-group row table-div-row">
                          <span  class="col-sm-3 col-form-label table-text" >$</span>
                          <div class="col-sm-9" style="padding:0"><input type="number" class="form-control table-input" v-model="amazon_fulfilment_item.average_units_stored">
                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td >
                        <div class="form-group row table-div-row"   >
                          <label  class="col-sm-1 col-form-label table-text" ></label>
                          <div class="col-sm-11 table-label"><span>每售出单位的仓储成本</span> <span class="glyphicon glyphicon-question-sign"></span></div>
                        </div>
                      <td>
                        <div class="form-group row table-div-row"  >
                          <span  class="col-sm-3 col-form-label table-text" >$</span>
                          <div class="col-sm-9 table-text" style="padding:0"> <span>0.00</span> </div>
                        </div>
                      </td>

                      <td>
                        <div class="form-group row table-div-row">
                          <span  class="col-sm-3 col-form-label table-text" >$</span>
                          <div class="col-sm-9 table-text" style="padding:0"> <span id="amazon_storage_cost"></span> </div>
                        </div>
                      </td>
                    </tr>







                    <tr><td colspan="3"><div style="background:#000000;height:1px"></div></td></tr>
                    <!-- area 1  -->


                    <tr >
                      <td >
                        <div class="form-group row table-div-row" style="margin-top:20px"  >
                          <div class="table-text-left" ><b >卖方收益</b> <span class="glyphicon glyphicon-question-sign"></span></div>
                        </div>
                      </td>
                      <td>
                        <div class="form-group row table-div-row" style="margin-top:20px" >
                          <span  class="col-sm-3 col-form-label table-text" >&nbsp;</span>
                          <div class="col-sm-9" style="padding:0"><input type="number" class="form-control table-input" ></div>
                        </div>
                      </td>

                      <td>
                        <div class="form-group row table-div-row" style="margin-top:20px">
                          <span  class="col-sm-3 col-form-label table-text" ></span>
                          <div class="col-sm-9 table-text" style="padding:0" >
                            <span id="amazon_seller_proceeds"></span>
                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr >
                      <td >
                        <div class="form-group row table-div-row"   >
                          <div class="table-text-left" ><b >产品成本</b> <span class="glyphicon glyphicon-question-sign"></span></div>
                        </div>
                      </td>
                      <td>
                        <div class="form-group row table-div-row"  >
                          <span  class="col-sm-3 col-form-label table-text" >$</span>
                          <div class="col-sm-9" style="padding:0"><input type="number" class="form-control table-input" ></div>
                        </div>
                      </td>

                      <td>
                        <div class="form-group row table-div-row" >
                          <span  class="col-sm-3 col-form-label table-text" >$</span>
                          <div class="col-sm-9" style="padding:0"><input  type="number" class="form-control table-input" v-model="amazon_fulfilment_item.product_cost">
                          </div>
                        </div>
                      </td>
                    </tr>



                    <tr><td colspan="3"><div style="background:#000000;height:1px"></div></td></tr>
                    <!-- area 2  -->

                    <tr >
                      <td >
                        <div class="form-group row table-div-row"  >
                          <div class="table-text-left" ><b >净利润</b> </div>
                        </div>
                      </td>
                      <td></td>
                      <td></td>
                    </tr>


                    <tr>
                      <td >
                        <div class="form-group row table-div-row"   >
                          <label  class="col-sm-3 col-form-label table-text" ></label>
                          <div class="col-sm-9 table-label"><span>净利</span> <span class="glyphicon glyphicon-question-sign"></span></div>
                        </div>
                      <td>
                        <div class="form-group row table-div-row"  >
                          <span  class="col-sm-3 col-form-label table-text" >$</span>
                          <div class="col-sm-9"  style="text-align:right;font-weight:bold"> <span>0.00</span></div>
                        </div>
                      </td>

                      <td>
                        <div class="form-group row table-div-row">
                          <span  class="col-sm-3" >$</span>
                          <div class="col-sm-9"  style="text-align:right">
                             <span  id="amazon_net_profit" class="text_result_bold"> </span>
                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td >
                        <div class="form-group row table-div-row"   >
                          <label  class="col-sm-3 col-form-label table-text" ></label>
                          <div class="col-sm-9 table-label"><span>净利润</span> <span class="glyphicon glyphicon-question-sign"></span></div>
                        </div>
                      <td>
                        <div class="form-group row table-div-row"  >
                          <span  class="col-sm-3 col-form-label table-text" >&nbsp;</span>
                          <div class="col-sm-9" style="text-align:right">

                            <span class="text_result_bold">0.00</span>

                          </div>
                        </div>
                      </td>

                      <td>
                        <div class="form-group row table-div-row">
                          <span  class="col-sm-3 col-form-label table-text" >&nbsp;</span>
                          <div class="col-sm-9" style="text-align:right">
                            <span id="amazon_net_margin"  class="text_result_bold" ></span>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr><td colspan="3"><div style="background:#000000;height:1px"></div></td></tr>
                    <!-- area 3  -->
                    <tr>
                      <td ></td>
                      <td></td>
                      <td>
                        <div class="form-group row table-div-row" style="margin-bottom:2px;margin-top:2px">
                          <span  class="col-sm-7 col-form-label table-text" ></span>
                          <div class="col-sm-5" style="padding:0"><button type="button" class="btn btn-primary mb-2" v-on:click="calculate_revenue">计算</button></div>
                        </div>
                      </td>
                    </tr>




                    </tbody>
                  </table>
                </div>
                <!-- left  content ----------->

                <!-- right  content ----------->
                <div id="right_content" style="overflow:hidden;visibility: hidden;padding-right:15px">

                  <div    style="border:1px solid #B7BFDA;margin-top:15px;height:120px;background:#ffffff;margin-bottom:15px">
<!--                    <div><span><a href="">Price your FBA listings right </a></span></div>-->
<!--                    <div><span><a href="">These prices compete equally on Amazon </a></span></div>-->
<!--                    <div><span><a href="">Have you accounted for all of your costs? </a></span></div>-->

                  </div>

                    <div class="row" style="height:350px;border:1px solid #868686;" >
                      <div class="col-sm-3"  id="chart01"  style="padding:0px;margin:0px;height:350px" ></div>
                      <div class="col-sm-3" id="chart02" style="padding:0px;margin:0px;height:350px"></div>
                      <div class="col-sm-3" id="chart03" style="padding:0px;margin:0px;height:350px"></div>
                      <div class="col-sm-3" id="chart04" style="padding:0px;margin:0px;height:350px"></div>
                    </div>
                <div></div>
                </div>
                <!-- right  end ----------->
    </div>
     </div>




</div>


    <footer class="pt-4 border-top" style="margin-left:30px;margin-top:10px;margin-bottom:30px" >
      <div >
      <span>现在开始销售：</span>
      </div>

      <div><span><a href="https://www.amazon.ca/b/?node=13653457011&ref=RevCalRegAmazon">在亚马逊上注册</a></span></div>
      <div><span><a href="https://www.amazon.ca/b?ie=UTF8&node=13718755011&ref=RevCalStartFBA">亚马逊物流入门</a></span></div>
      <div><span><a href="https://sellercentral.amazon.ca/productsearch?ref=RevCalAddProd">将产品添加到您的列表中</a></span></div>

    </footer>

  </div>



</body>
  <script type="text/javascript" src="./js/calc-full.js" ></script>
  <script type="text/javascript" src="./js/echarts.min.js" ></script>
  <script type="text/javascript" src="./js/network.js" ></script>
  <script type="text/javascript" src="./js/app.js" ></script>
  <script type="text/javascript" src="./js/chart.js" ></script>


</html>
